  <div class= "text-center m-5">
      <h1>Manage My Bookings</h1>
  </div>

  <div class= "text-left m-5">
      <h2>Upcoming Bookings</h2>
  </div>

  <div class="card-container-bookings">
    <% @bookings.each do |booking| %>
    <%if booking.date > Date.today %>
    <div class="card-booking" id="bookings">
      <%= cl_image_tag booking.meal.photos.first.key, class: 'card-image' if booking.meal.photos.size>0 %>
      <div class= "d-flex flex-column align-items-between">
        <div class="card-text">
          <h4 class="card-title"><%= link_to "#{booking.meal.name}", booking_path(booking), class: "text-dark font-weight-bold"%></h4>
          <p class="card-title"><%= booking.date.strftime("%B %e, %Y")%> from <%= booking.meal.open_hrs.strftime('%l:%M%P')%> to <%= booking.meal.close_hrs.strftime('%l:%M%P')%></p>
        </div>
        <br>
        <br>
        <div>
          <p><%= link_to "See Booking Details", booking_path(booking), class: "text-dark ml-3"%></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>


  <div class= "text-left m-5">
      <h2>Previous Bookings</h2>
  </div>

   <div class="card-container-bookings">
    <% @bookings.each do |booking| %>
    <%if booking.date < Date.today %>
    <div class="card-booking" id="bookings">
      <%= cl_image_tag booking.meal.photos.first.key, class: 'card-image' if booking.meal.photos.size>0 %>
      <div class= "d-flex flex-column align-items-between">
        <div class="card-text">
          <h4 class="card-title"><%= link_to "#{booking.meal.name}", booking_path(booking), class: "text-dark font-weight-bold"%></h4>
          <p class="card-title"><%= booking.date.strftime("%B %e, %Y")%> from <%= booking.meal.open_hrs.strftime('%l:%M%P')%> to <%= booking.meal.close_hrs.strftime('%l:%M%P')%></p>
        </div>
        <br>
        <br>
        <div>
          <p><%= link_to "See Booking Details", booking_path(booking), class: "text-dark ml-3"%></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>






