<div class= "text-center m-5">
    <h1>My Bookings</h1>
</div>

<div class= "text-left m-5">
    <h2>Upcoming</h2>
</div>

<div class="card-container-bookings">
  <% @bookings.each do |booking| %>
    <%if booking.date > Date.today %>
      <%= link_to booking_path(booking), class: 'meal-card booking-card' do %>
        <div class="img-container">
          <%= cl_image_tag booking.meal.photos.first.key, class: 'card-image' if booking.meal.photos.size > 0 %>
        </div>

        <div class="card-text">
          <h4><%= booking.meal.name %></h4>
          <p><%= booking.date.strftime("%B %e, %Y")%></p>
          <p><%= booking.meal.address %></p>
          <p><%= booking.eaters %> eaters</p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


<div class= "text-left m-5">
    <h2>Previous</h2>
</div>

<div class="card-container-bookings">
  <% @bookings.each do |booking| %>
    <%if booking.date < Date.today %>
      <%= link_to booking_path(booking), class: 'meal-card booking-card' do %>
        <div class="img-container">
          <%= cl_image_tag booking.meal.photos.first.key, class: 'card-image' if booking.meal.photos.size > 0 %>
        </div>

        <div class="card-text">
          <h4><%= booking.meal.name %></h4>
          <p><%= booking.date.strftime("%B %e, %Y")%></p>
          <p><%= booking.meal.address %></p>
          <p><%= booking.eaters %> eaters</p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>






