<h1>HomePage</h1>

<%= form_with do |form| %>
  <%= form.text_field :search, placeholder: "What do you want to eat?", class: "form-control" %>
  <%= form.submit "search" %>
<% end %>

<%= @meals.each do |meal| %>
  <div class="meals-card">
    <div class="meals-card-name"><%= meal.name %></div>
    <%= meal.description %>
    <%= meal.price %>
    <br>
    <br>
  </div>
<% end %>


<p>© <%= Date.today.year %> Homet.</p>
