<% @meals.each do |meal| %>
  <div class="meals-card">
    <div><%= link_to meal.name, meal_path(meal) %></div>
    <div><%= meal.description %></div>
    <div><%= meal.price %></div>
    <div>Eaters signed up for your meal: <%= meal.bookings.count %></div>
      <%= link_to 'Edit', edit_meal_path(meal) %> |
      <%= link_to "Delete",
                meal_path(meal),
                method: :delete,
                data: { confirm: "Are you sure?" } %> |
      <%= link_to 'View Eaters', eaters_for_meal_path(meal) %>
    </div>
    <hr>
  </div>
<% end %>

<%= link_to 'Create New Meal', new_meal_path, class: "btn btn-outline-dark m-1"%>

