<div class= 'container' style='list-style-type:none'>
  <% @meals.each do |meal| %>
    <div class="card" id="meals">
      <%= cl_image_tag meal.photos.first.key, class: 'card-image' if meal.photos.size>0 %>
      <div class="card-text">
       <h4><%= meal.name %></h4>
        <p><%= meal.address %></p>
        <p><%= meal.min_eaters %></i>-<i><%= meal.max_eaters %> eaters</p>
        <p>$</i> <%= meal.price %></p>
        <div class="meal-card-actions">
        </div>
      </div>
    </div>
    <% end %>
  <%= link_to 'Create New Meal', new_meal_path, class: "btn btn-outline-dark m-1"%>
</div>
