<div class='container' style='list-style-type:none'>
  <h2 class = 'mt-3'><%= @meal.name %></h2>
    <span class='text text-secondary' ><%= @meal.min_eaters%>-<%= @meal.max_eaters %> Eaters </span><span class=' text text-secondary'> | Hosted by <%= @meal.user_id %></span>
    <h4><%= @meal.description %></h4>
    <li class='text-secondary'> From <%= @meal.open_hrs %> to <%= @meal.close_hrs %> during <%= @meal.open_days %></li>
    <li class='text-secondary'>At <%= @meal.address.split.map(&:capitalize).join(' ')%></li>
    <img class="card-img" src="https://source.unsplash.com/900x400/?food, <%= @meal.name%>" alt="Card image">
      <div>
        <li><%= link_to 'Back', meals_url %></li>
          <br>
            <div class="card">
              <div class="card-body">
                <% if user_signed_in? && @booking.user == current_user %>
                  <p> You already have <%= link_to 'a booking', booking_path(@booking) %> here </p>
                <% else  %>
                  Book now!
                  <%=  render 'booking_form' %>
                <% end %>
              </div>
            </div>
            <br>
            <div class="list-group">
              <li class = "text-secondary">What have others said about <%= @meal.name %>?</li>
                <% @meal.reviews.each do |review| %>
                  <div class = "list-group-item">
                    <li>Rating: <%= review.rating %></li>
                    <i class="text-secondary" >"<%= review.comment %>"</i>
                  </div>
                <% end %>
            </div>
      </div>
</div>

